/* General styles */
body {
    font-family: 'Arial', sans-serif;
    color: #fff; /* Text color to white */
    line-height: 1.6;
    background-color: #000; /* Main background color */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #004080; /* Dark green */
    color: white;
}

/* Background Image */
.background-image {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
    background-color: #000; /* Ensures background color is black */
}

/* About Section */
#about {
    padding: 60px 20px;
    text-align: center;
    background-color: #000; /* Background color for the about section */
}

/* Contact Section */
#contact {
    padding: 60px 20px;
    background-color: #004080; /* Dark green */
    color: white;
}

/* Footer */
footer {
    background-color: #002b5c; /* Dark green */
    color: white;
    text-align: center;
    padding: 20px;
}

/* Calculator */
#salary-calculator {
    text-align: center;
    color: #fff; /* Text color to white */
}

#salary-calculator img {
    max-width: 100%;
    height: auto; /* Ensure the image maintains its aspect ratio */
}

#salary-form {
    margin: 0 auto;
    max-width: 600px; /* Restrict form width to ensure centered layout */
}

#result p {
    color: #fff; /* Ensure text color in results is white */
}
